*.o
.direnv
.cache
*.so
node_modules
build
**/__pycache__
compile_commands.json
octradotnet/bin
octradotnet/obj
octradotnet.tests/bin
octradotnet.tests/obj
./buildSrc/.gradle/
.gradle
dist
src/pyoctra.egg-info
result
_build
.merlin
